---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import CoreValues from "../components/CoreValues.astro";
import CloudFeatures from "../components/CloudFeatures.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";
import "../styles/theme.css";
---

<MainLayout title="Service Radar - Network Visibility, Anywhere">
    <Header />
    <main>
        <Hero />
        <Features />
        <CoreValues />
        <CloudFeatures />
    </main>
    <Footer />
</MainLayout>

<style>
    /* Any page-specific styles can go here */
</style>
