<section class="core-values section">
    <div class="container">
        <h2 class="section-title">Core values</h2>
        <p class="section-description">
            It's designed to keep an eye on your internal services whether
            they're running on-premise, in the cloud, or in remote locations,
            while making sure you're always informed, even during network
            outages or power disruptions.
        </p>

        <div class="values-container">
            <div class="values-image">
                <div class="placeholder-bg">
                    <svg
                        width="461"
                        height="323"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        ><g clip-path=""
                            ><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M193.902 144.492c-8.51-4.914-21.404-5.45-28.774-1.194l-83.44 48.173c-7.373 4.257-6.445 11.701 2.066 16.615l79.308 45.788c8.511 4.914 21.401 5.448 28.775 1.191l83.439-48.173c7.371-4.256 6.445-11.698-2.066-16.612l-79.308-45.788z"
                                fill="url(#b)"
                                fill-opacity=".15"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="m45.537 236.92-21.647-3.284c-.232-.035-.47.045-.53.181-.061.133.078.271.31.306l23.172 3.515.026.003.032.003.034.003h.039l.029-.004.033-.001.03-.004.013-.003a.677.677 0 0 0 .178-.058l.011-.007a.318.318 0 0 0 .102-.103l.009-.019.007-.017.002-.019-.002-.026v-.018l-.003-.015-.007-.018-.002-.004-6.152-13.493c-.06-.134-.299-.214-.53-.178-.232.036-.37.174-.31.308l5.73 12.571.591.344c-61.134-35.296-61.134-92.609.002-127.906 61.134-35.296 160.403-35.296 221.538 0l.308.178.616-.356-.308-.177c-61.478-35.494-161.293-35.494-222.77 0-61.292 35.386-61.476 92.778-.55 128.298zM298.086 126.208l-.485-.28c61.135 35.296 61.135 92.609 0 127.905-61.136 35.296-160.405 35.296-221.54 0l-.307-.178-.616.356.308.178c61.473 35.491 161.295 35.492 222.771-.001 61.477-35.493 61.473-93.124 0-128.616l.489.283 21.61 3.278c.231.036.47-.044.535-.18.062-.133-.081-.273-.315-.306l-23.17-3.517-.027-.002-.034-.002-.027-.003h-.039l-.034.003-.031.004h-.031l-.016.005a.526.526 0 0 0-.173.06l-.011.006a.264.264 0 0 0-.104.1l-.012.02v.018l-.008.018.001.027.003.02v.013l.008.018.004.002 6.152 13.492c.058.136.297.216.528.18.235-.033.373-.171.315-.306l-5.744-12.595z"
                                fill="#5E75F2"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="m76.765 148.063-.039 29c-.099 2.58 1.78 6.384 7.043 9.424l79.307 45.789c8.511 4.912 21.407 5.446 28.774 1.192l83.441-48.173c4.534-2.619 4.926-5.709 4.976-7.28l-.05-27.436-88.367 54.579c-7.367 4.257-20.263 3.723-28.774-1.193l-86.31-55.902z"
                                fill="url(#c)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M86.517 171.233c0-.659-.399-1.423-.895-1.71-.493-.285-.895.018-.895.676v6.582c0 .662.401 1.428.895 1.713.496.287.895-.017.895-.679v-6.582z"
                                fill="url(#d)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M89.7 173.07c0-.659-.398-1.423-.895-1.71-.493-.285-.895.018-.895.676v6.582c0 .662.402 1.428.895 1.713.496.287.895-.018.895-.679v-6.582z"
                                fill="url(#e)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M92.89 174.911c0-.658-.399-1.422-.895-1.709-.494-.285-.895.018-.895.676v6.582c0 .662.401 1.428.895 1.713.496.286.894-.018.894-.68v-6.582z"
                                fill="url(#f)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M96.072 176.748c0-.658-.399-1.422-.895-1.709-.494-.285-.895.018-.895.676v6.582c0 .662.401 1.428.895 1.713.496.286.894-.018.894-.68v-6.582z"
                                fill="url(#g)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M257.078 180.121c0-1.406-.856-2.053-1.911-1.444l-38.734 22.363c-1.055.609-1.912 2.245-1.912 3.651v15.65l42.557-24.57v-15.65z"
                                fill="url(#h)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M193.928 94.421c-8.511-4.914-21.404-5.45-28.774-1.194L81.714 141.4c-7.373 4.257-6.445 11.701 2.066 16.615l79.308 45.788c8.511 4.914 21.401 5.448 28.775 1.191l83.439-48.173c7.37-4.256 6.445-11.698-2.066-16.612l-79.308-45.788z"
                                fill="#EDECE9"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="m76.765 102.884-.039 29c-.099 2.58 1.78 6.384 7.043 9.424l79.307 45.789c8.511 4.912 21.407 5.446 28.774 1.192l83.441-48.173c4.534-2.619 4.926-5.708 4.976-7.28l-.05-27.436-88.367 54.579c-7.367 4.257-20.263 3.723-28.774-1.193l-86.31-55.902z"
                                fill="url(#i)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M86.517 126.053c0-.658-.399-1.422-.895-1.709-.493-.285-.895.018-.895.676v6.582c0 .662.401 1.428.895 1.713.496.287.895-.018.895-.68v-6.582z"
                                fill="url(#j)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M89.7 127.891c0-.658-.398-1.423-.895-1.709-.493-.285-.895.017-.895.676v6.582c0 .662.402 1.428.895 1.713.496.286.895-.018.895-.68v-6.582z"
                                fill="url(#k)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M92.89 129.732c0-.658-.399-1.422-.895-1.709-.494-.285-.895.018-.895.676v6.582c0 .662.401 1.428.895 1.713.496.286.894-.018.894-.68v-6.582z"
                                fill="url(#l)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M96.072 131.57c0-.658-.399-1.423-.895-1.709-.494-.285-.895.017-.895.675v6.583c0 .661.401 1.428.895 1.712.496.287.894-.017.894-.679v-6.582z"
                                fill="url(#m)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M257.078 134.942c0-1.406-.856-2.053-1.911-1.444l-38.734 22.363c-1.055.609-1.912 2.245-1.912 3.651v15.65l42.557-24.57v-15.65z"
                                fill="url(#n)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M193.928 49.242c-8.511-4.914-21.404-5.45-28.774-1.194L81.714 96.22c-7.373 4.257-6.445 11.701 2.066 16.615l79.308 45.788c8.511 4.914 21.401 5.448 28.775 1.191l83.439-48.173c7.37-4.256 6.445-11.698-2.066-16.612l-79.308-45.788z"
                                fill="#EDECE9"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="m76.765 57.705-.039 29.001c-.099 2.58 1.78 6.384 7.043 9.424l79.307 45.788c8.511 4.912 21.407 5.447 28.774 1.193l83.441-48.174c4.534-2.618 4.926-5.708 4.976-7.28l-.05-27.435L191.85 114.8c-7.367 4.258-20.263 3.723-28.774-1.192l-86.31-55.903z"
                                fill="url(#o)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M86.517 80.876c0-.659-.399-1.423-.895-1.71-.493-.285-.895.018-.895.676v6.582c0 .662.401 1.428.895 1.713.496.287.895-.018.895-.68v-6.581z"
                                fill="url(#p)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M89.7 82.713c0-.658-.398-1.423-.895-1.71-.493-.284-.895.018-.895.676v6.583c0 .661.402 1.427.895 1.712.496.287.895-.017.895-.68v-6.581z"
                                fill="url(#q)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M92.89 84.554c0-.658-.399-1.422-.895-1.709-.494-.285-.895.018-.895.676v6.582c0 .662.401 1.428.895 1.713.496.287.894-.018.894-.68v-6.582z"
                                fill="url(#r)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M96.072 86.392c0-.658-.399-1.423-.895-1.71-.494-.285-.895.018-.895.676v6.583c0 .661.401 1.427.895 1.712.496.287.894-.017.894-.68v-6.581z"
                                fill="url(#s)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M257.081 89.764c0-1.406-.856-2.054-1.911-1.444l-38.734 22.363c-1.055.609-1.911 2.245-1.911 3.651v15.65l42.556-24.57v-15.65z"
                                fill="url(#t)"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M193.928 4.064c-8.511-4.914-21.404-5.45-28.774-1.195l-83.44 48.174c-7.373 4.257-6.445 11.7 2.066 16.614l79.308 45.789c8.511 4.914 21.401 5.448 28.775 1.191l83.439-48.174c7.37-4.255 6.445-11.697-2.066-16.611L193.928 4.064z"
                                fill="#EDECE9"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M460.98 90.583c0-2.226-1.357-3.247-3.024-2.284l-171.644 99.098c-1.667.963-3.025 3.551-3.025 5.777v126.36c0 2.226 1.358 3.251 3.025 2.288l171.644-99.098c1.667-.963 3.024-3.555 3.024-5.781V90.583z"
                                fill="#BCBAB6"
                                fill-opacity=".19"></path><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M460.98 90.649c0-2.255-1.373-3.294-3.064-2.317l-171.564 99.052c-1.689.975-3.065 3.601-3.065 5.856v6.667L460.98 97.317v-6.668z"
                                fill="url(#u)"></path><path
                                d="M442.653 105.196c1.147-.662 2.076-2.272 2.076-3.596 0-1.323-.929-1.86-2.076-1.198-1.146.662-2.076 2.272-2.076 3.596 0 1.323.93 1.86 2.076 1.198zM448.239 101.97c1.147-.662 2.076-2.272 2.076-3.595 0-1.324-.929-1.86-2.076-1.199-1.146.662-2.075 2.272-2.075 3.596 0 1.324.929 1.86 2.075 1.198zM453.823 98.745c1.147-.662 2.076-2.272 2.076-3.596 0-1.323-.929-1.86-2.076-1.198-1.146.662-2.075 2.272-2.075 3.596 0 1.323.929 1.86 2.075 1.198z"
                                fill="#fff"></path><path
                                d="M408.052 176.05c-.482.278-.963.611-1.435.995l-13.632-16.229c1.379-2.353 2.156-4.938 2.156-7.166 0-4.545-3.238-6.414-7.174-4.142-3.406 1.966-6.366 6.477-7.035 10.72l-17.505 10.106c-.669-3.47-3.629-4.563-7.034-2.596-3.936 2.272-7.175 7.881-7.175 12.426 0 2.228.778 3.914 2.156 4.676l-13.631 31.969c-.47.161-.949.382-1.428.659-3.936 2.272-7.174 7.881-7.174 12.426s3.238 6.414 7.174 4.142a11.02 11.02 0 0 0 1.428-.99l13.631 16.229c-1.378 2.353-2.156 4.938-2.156 7.165 0 4.545 3.239 6.415 7.175 4.142 3.405-1.966 6.365-6.477 7.034-10.719l17.505-10.107c.669 3.471 3.629 4.563 7.035 2.597 3.936-2.272 7.174-7.882 7.174-12.426 0-2.228-.777-3.915-2.156-4.676l13.632-31.969c.47-.161.948-.382 1.427-.659 3.936-2.272 7.175-7.882 7.175-12.426 0-4.542-3.234-6.412-7.167-4.147zm-20.089-23.195c2.362-1.364 4.305-.242 4.305 2.485s-1.943 6.092-4.305 7.456c-2.361 1.363-4.304.242-4.304-2.486 0-2.727 1.943-6.092 4.304-7.455zm-31.567 18.225c2.362-1.364 4.305-.242 4.305 2.485s-1.943 6.092-4.305 7.456c-2.362 1.364-4.305.242-4.305-2.485s1.943-6.093 4.305-7.456zm-24.393 57.161c0-2.727 1.943-6.092 4.305-7.456 2.362-1.363 4.304-.242 4.304 2.486 0 2.727-1.942 6.092-4.304 7.455-2.362 1.364-4.305.242-4.305-2.485zm24.393 28.995c-2.362 1.364-4.305.242-4.305-2.485s1.943-6.092 4.305-7.456c2.362-1.364 4.305-.242 4.305 2.485s-1.943 6.092-4.305 7.456zm31.567-18.225c-2.361 1.363-4.304.242-4.304-2.486 0-2.727 1.943-6.092 4.304-7.455 2.362-1.364 4.305-.242 4.305 2.485s-1.943 6.092-4.305 7.456zm2.633-14.187c-.838.099-1.731.415-2.633.932-.585.339-1.169.763-1.736 1.259l-4.864-8.93c-.255-.37-.732-.415-1.247-.118-.788.455-1.435 1.577-1.435 2.485 0 .207.034.393.099.549l4.879 8.897c-1.396 2.026-2.359 4.351-2.705 6.532l-17.527 10.119c-.352-1.782-1.322-2.992-2.726-3.396l4.878-14.531c.123-.32.188-.64.188-.928 0-.908-.648-1.282-1.435-.828-.589.34-1.12 1.065-1.335 1.823l-4.865 14.547a7.616 7.616 0 0 0-1.736.745c-.902.524-1.795 1.24-2.633 2.109l-13.344-15.923c1.501-2.085 2.546-4.523 2.92-6.814l11.622-6.71c.787-.454 1.435-1.576 1.435-2.485 0-.909-.648-1.283-1.435-.828l-11.622 6.71c-.374-1.86-1.419-3.091-2.92-3.442l13.344-31.331c.838-.099 1.731-.415 2.633-.932.586-.339 1.17-.763 1.736-1.26l4.176 7.672c.232.43.722.513 1.262.215.217-.123.431-.304.625-.526.706-.801 1.011-1.969.674-2.593l-4.168-7.65c1.396-2.026 2.359-4.351 2.704-6.533l17.527-10.119c.352 1.783 1.322 2.992 2.727 3.397l-4.197 12.48c-.337 1.013-.033 1.83.674 1.814.203-.001.427-.074.653-.211.551-.32 1.055-.979 1.291-1.69l4.176-12.493a7.548 7.548 0 0 0 1.707-.729c.902-.524 1.795-1.239 2.633-2.108l13.345 15.922c-1.502 2.086-2.546 4.523-2.92 6.814l-11.623 6.71c-.787.455-1.435 1.577-1.435 2.486 0 .908.648 1.282 1.435.828l11.623-6.71c.374 1.859 1.418 3.09 2.92 3.442l-13.345 31.331zm17.456-35.519c-2.362 1.364-4.305.242-4.305-2.485s1.943-6.092 4.305-7.456c2.361-1.363 4.304-.242 4.304 2.485 0 2.728-1.943 6.093-4.304 7.456z"
                                fill="#E8E8E8"></path><path
                                d="m377.921 186.819-11.479 6.628c-3.935 2.272-7.174 7.881-7.174 12.426v6.628c0 4.544 3.239 6.414 7.174 4.142l4.305-2.486v3.314l-5.022 2.9c-.787.454-1.435 1.576-1.435 2.485 0 .909.648 1.283 1.435.828l12.914-7.456c.787-.454 1.435-1.576 1.435-2.485 0-.909-.648-1.283-1.435-.828l-5.022 2.899v-3.313l4.304-2.486c3.936-2.272 7.175-7.881 7.175-12.426v-6.628c0-4.544-3.239-6.414-7.175-4.142zm4.305 12.427c0 2.727-1.943 6.092-4.305 7.456l-11.479 6.627c-2.361 1.364-4.304.242-4.304-2.485v-6.628c0-2.727 1.943-6.092 4.304-7.456l11.479-6.627c2.362-1.364 4.305-.242 4.305 2.485v6.628z"
                                fill="#E8E8E8"></path></g
                        ><defs
                            ><linearGradient
                                id="l"
                                x1="91.995"
                                y1="128.023"
                                x2="88.11"
                                y2="134.751"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><linearGradient
                                id="b"
                                x1="154.769"
                                y1="268.26"
                                x2="235.358"
                                y2="153.368"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#fff"></stop><stop
                                    offset="1"
                                    stop-color="#333"
                                    stop-opacity=".1"></stop></linearGradient
                            ><linearGradient
                                id="d"
                                x1="85.622"
                                y1="169.523"
                                x2="81.737"
                                y2="176.252"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><linearGradient
                                id="e"
                                x1="88.805"
                                y1="171.36"
                                x2="84.921"
                                y2="178.088"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><linearGradient
                                id="f"
                                x1="91.995"
                                y1="173.202"
                                x2="88.11"
                                y2="179.93"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><linearGradient
                                id="g"
                                x1="95.177"
                                y1="175.039"
                                x2="91.292"
                                y2="181.767"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><linearGradient
                                id="h"
                                x1="235.8"
                                y1="189.858"
                                x2="243.68"
                                y2="203.507"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><linearGradient
                                id="i"
                                x1="178.506"
                                y1="102.87"
                                x2="176.577"
                                y2="228.914"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#E8E8E8"></stop><stop
                                    offset="1"
                                    stop-color="#8282C1"></stop></linearGradient
                            ><linearGradient
                                id="j"
                                x1="85.622"
                                y1="124.344"
                                x2="81.737"
                                y2="131.072"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><linearGradient
                                id="k"
                                x1="88.805"
                                y1="126.182"
                                x2="84.921"
                                y2="132.91"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><linearGradient
                                id="c"
                                x1="178.506"
                                y1="148.049"
                                x2="176.577"
                                y2="274.093"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#E8E8E8"></stop><stop
                                    offset="1"
                                    stop-color="#8282C1"></stop></linearGradient
                            ><linearGradient
                                id="m"
                                x1="95.177"
                                y1="129.861"
                                x2="91.292"
                                y2="136.589"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><linearGradient
                                id="n"
                                x1="235.8"
                                y1="144.679"
                                x2="243.68"
                                y2="158.328"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><linearGradient
                                id="o"
                                x1="178.506"
                                y1="57.692"
                                x2="176.577"
                                y2="183.735"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#E8E8E8"></stop><stop
                                    offset="1"
                                    stop-color="#8282C1"></stop></linearGradient
                            ><linearGradient
                                id="p"
                                x1="85.622"
                                y1="79.166"
                                x2="81.737"
                                y2="85.894"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><linearGradient
                                id="q"
                                x1="88.805"
                                y1="81.004"
                                x2="84.921"
                                y2="87.732"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><linearGradient
                                id="r"
                                x1="91.995"
                                y1="82.845"
                                x2="88.11"
                                y2="89.573"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><linearGradient
                                id="s"
                                x1="95.177"
                                y1="84.682"
                                x2="91.292"
                                y2="91.411"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><linearGradient
                                id="t"
                                x1="235.803"
                                y1="99.501"
                                x2="243.683"
                                y2="113.15"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><linearGradient
                                id="u"
                                x1="283.287"
                                y1="194.53"
                                x2="460.98"
                                y2="194.53"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#AEAEAE"></stop><stop
                                    offset="1"
                                    stop-color="#353535"></stop></linearGradient
                            ><clipPath id="a"
                                ><path fill="#fff" d="M0 0h461v322.173H0z"
                                ></path></clipPath
                            ></defs
                        ></svg
                    >
                </div>
            </div>

            <div class="values-list">
                <div class="value-item">
                    <div class="value-number">01</div>
                    <div class="value-content">
                        <h3>Real-Time Visibility</h3>
                        <p>
                            Proactive insights into entire service health, from
                            processes and ports to cloud-enabled network
                            devices.
                        </p>
                    </div>
                </div>

                <div class="value-item">
                    <div class="value-number">02</div>
                    <div class="value-content">
                        <h3>Resilience</h3>
                        <p>
                            Ensure monitoring continues seamlessly, even in
                            unreliable or constrained environments.
                        </p>
                    </div>
                </div>

                <div class="value-item">
                    <div class="value-number">03</div>
                    <div class="value-content">
                        <h3>Security</h3>
                        <p>
                            Leverage modern principles like mutual TLS and API
                            key authentication for enhanced protection.
                        </p>
                    </div>
                </div>

                <div class="value-item">
                    <div class="value-number">04</div>
                    <div class="value-content">
                        <h3>Scalability</h3>
                        <p>
                            Support everything from small setups to large,
                            distributed deployments with ease.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .core-values {
        background-color: var(--bg-primary);
    }

    .section-description {
        text-align: center;
        max-width: 800px;
        margin: 0 auto 3rem;
        color: var(--text-secondary);
    }

    .section-title::after {
        content: "";
        display: block;
        width: 60px;
        height: 4px;
        background: var(--color-primary);
        margin-left: 472px;
    }

    .values-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        align-items: center;
    }

    .values-image {
        height: 350px;
        border-radius: 8px;
        overflow: hidden;
    }

    .values-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .value-item {
        display: flex;
        gap: 1.5rem;
    }

    .value-number {
        font-family: var(--font-mono);
        font-size: 2.5rem;
        font-weight: 300;
        color: var(--color-primary);
    }

    .value-content h3 {
        margin-bottom: 0.5rem;
    }

    .value-content p {
        color: var(--text-secondary);
        margin-bottom: 0;
    }

    .placeholder-bg {
        background-color: transparent;
    }

    @media (max-width: 968px) {
        .values-container {
            grid-template-columns: 1fr;
            gap: 2rem;
        }

        .values-image {
            height: 300px;
        }
    }

    @media (max-width: 640px) {
        .value-item {
            gap: 1rem;
        }
    }
</style>
