<section class="features section">
    <div class="container">
        <div class="features-grid">
            <div class="feature-card">
                <div class="feature-image">
                    <svg
                        width="170"
                        height="190"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <g
                            clip-path="url(#a)"
                            fillRule="evenodd"
                            clip-rule="evenodd"
                        >
                            <path
                                d="M92.034 93.068c-3.919-2.263-9.854-2.508-13.244-.55L2.34 136.654c-3.39 1.958-2.966 5.384.953 7.647l74.543 43.037c3.919 2.263 9.854 2.508 13.244.55l76.449-44.137c3.39-1.958 2.966-5.385-.953-7.647L92.034 93.068z"
                                fill="url(#b)"
                                fill-opacity=".15"></path>
                            <path
                                d="M87.703 35.581c.355.117.722.255 1.097.416v.22l77.221 44.584v24.401L88.8 60.618v.02s-2.134.512-5.155.673c-1.983.105-2.874-.539-4.24-.168L-.021 107.002V83.039L78.76 37.554v-.064s1.362-1.467 3.754-2.103c.307-.082.629-.15.97-.199v-2.043l4.218 2.436z"
                                fill="#ACACD5"></path>
                            <path
                                d="M92.034 61.929c-3.919-2.263-9.854-2.508-13.244-.55L2.34 105.516c-3.39 1.958-2.966 5.384.953 7.647L77.837 156.2c3.919 2.263 9.854 2.508 13.244.55l76.449-44.137c3.39-1.958 2.966-5.384-.953-7.647L92.034 61.929z"
                                fill="url(#c)"></path>
                            <path
                                d="M84.26 130.254-.022 80.674v27.544a5.284 5.284 0 0 0 2.638 4.574c11.03 6.371 53.18 32.31 75.534 43.61.591.3 1.123.535 1.677.734a15.35 15.35 0 0 0 2.317.636 16.48 16.48 0 0 0 4.136.273 12.99 12.99 0 0 0 2.77-.46 9.481 9.481 0 0 0 2.432-1.033c14.332-8.276 66.202-38.22 76.514-44.175a3.583 3.583 0 0 0 1.79-3.103V80.988c0-.468-85.528 49.266-85.528 49.266z"
                                fill="url(#d)"></path>
                            <path
                                d="M92.006 34.14c-3.919-2.26-9.855-2.508-13.246-.546L2.313 77.728c-3.395 1.961-2.968 5.386.95 7.65l74.542 43.038c3.92 2.26 9.856 2.507 13.25.55L167.5 84.828c3.395-1.957 2.968-5.386-.951-7.647l-74.542-43.04zm-2.874 2.269c-2.254-1.303-5.667-1.441-7.617-.315L6.644 79.318c-1.954 1.127-1.707 3.1.546 4.402l73.49 42.427c2.253 1.303 5.667 1.445 7.617.318l74.875-43.228c1.95-1.126 1.703-3.099-.551-4.398l-73.49-42.43z"
                                fill="#E8E8E8"></path>
                            <path
                                d="m1.038 48.668-.116-.588-.876.652v2.2c-.026 1.52 1.074 3.13 3.241 4.384L77.83 98.353c3.92 2.26 9.856 2.507 13.25.546l76.444-44.134c1.55-.894 2.306-2.096 2.291-3.353v-2.235l-.603.318c-.531-.853-1.415-1.673-2.639-2.38L92.03 4.078c-3.919-2.261-9.855-2.508-13.246-.547L2.337 47.665c-.524.303-.959.64-1.3 1.003z"
                                fill="#2E2E63"></path>
                            <path
                                d="M92.028 1.876c-3.92-2.263-9.854-2.508-13.245-.55L2.334 45.463c-3.39 1.958-2.966 5.384.953 7.647L77.83 96.147c3.919 2.263 9.854 2.508 13.245.55l76.448-44.137c3.391-1.958 2.966-5.384-.953-7.647L92.028 1.876z"
                                fill="#ACACD5"></path>
                            <path
                                d="M9.288 100.954c0-.542-.33-1.171-.737-1.406l-4.069-2.35c-.407-.234-.736.015-.736.557s.33 1.171.736 1.406l4.07 2.349c.406.235.736-.014.736-.556zM9.288 103.746c0-.542-.33-1.171-.737-1.406l-4.069-2.35c-.407-.234-.736.015-.736.557s.33 1.171.736 1.406l4.07 2.349c.406.236.736-.014.736-.556zM15.836 104.735c0-.542-.329-1.171-.736-1.406l-4.069-2.35c-.407-.235-.736.015-.736.557s.33 1.171.736 1.406l4.069 2.349c.407.235.736-.014.736-.556zM15.836 107.526c0-.542-.329-1.171-.736-1.406l-4.069-2.349c-.407-.235-.736.014-.736.556s.33 1.171.736 1.406l4.069 2.349c.407.236.736-.014.736-.556zM69.27 136.482c0-.55-.337-1.19-.746-1.426l-44.633-25.77c-.413-.238-.746.015-.746.565 0 .551.333 1.188.746 1.427l44.633 25.769c.41.236.746-.015.746-.565zM155.329 100.512c0-.697-.422-1.018-.947-.715-.522.301-.946 1.111-.946 1.808v6.962c0 .7.424 1.02.946.718.525-.303.947-1.111.947-1.811v-6.962zM158.696 98.568c0-.696-.422-1.018-.947-.715-.522.301-.946 1.112-.946 1.808v6.962c0 .7.424 1.02.946.719.525-.304.947-1.112.947-1.812v-6.962zM162.068 96.62c0-.696-.422-1.018-.947-.714-.522.3-.946 1.111-.946 1.807v6.962c0 .7.424 1.02.946.719.525-.303.947-1.111.947-1.811v-6.962zM165.435 94.677c0-.696-.421-1.018-.947-.715-.521.301-.946 1.112-.946 1.808v6.962c0 .7.425 1.02.946.719.526-.303.947-1.112.947-1.812v-6.962z"
                                fill="#8282C1"></path>
                            <path
                                d="M87.75 30.436c-1.56-.9-3.922-.998-5.272-.22L52.042 47.79c-1.35.78-1.181 2.144.379 3.044l29.677 17.135c1.56.9 3.923.998 5.273.219l30.436-17.572c1.35-.78 1.181-2.144-.379-3.045L87.751 30.436z"
                                fill="#1B1B3A"
                                fill-opacity=".5"></path>
                            <path
                                d="m53.797 41.161-.043-.218-.325.242v7.917c-.01.564.398 1.162 1.203 1.627l27.657 15.968c1.454.839 3.657.93 4.916.203l28.363-16.375c.575-.332.856-.778.85-1.245v-7.928l-.223.118c-.197-.317-.525-.623-.979-.884L87.558 24.618c-1.454-.84-3.657-.932-4.915-.204L54.28 40.789a2.096 2.096 0 0 0-.482.372z"
                                fill="url(#e)"></path>
                            <path
                                d="M87.545 23.754c-1.454-.84-3.656-.93-4.914-.204L54.266 39.926c-1.258.727-1.1 1.998.353 2.838l27.658 15.968c1.454.84 3.656.93 4.914.204l28.365-16.376c1.258-.727 1.101-1.998-.353-2.838L87.545 23.754z"
                                fill="#5E75F2"></path>
                            <path
                                d="M84.093 41.151c3.443 1.769 8.731 1.702 12.033-.204 3.425-1.977 3.424-5.185 0-7.16-3.424-1.976-8.983-1.977-12.408 0-3.17 1.829-3.406 4.717-.7 6.703l-1.632.942-.147-.085c-.387-.223-1.016-.224-1.404 0l-7.002 4.041c-.387.224-.386.586.001.81l1.403.809c.387.223 1.015.224 1.402 0l7.002-4.04c.389-.225.387-.587 0-.81l-.145-.084 1.597-.922zm10.48-6.468c-2.567-1.48-6.734-1.482-9.301 0-2.567 1.481-2.565 3.886.001 5.367 2.566 1.48 6.732 1.48 9.298 0 2.567-1.482 2.567-3.886.001-5.367z"
                                fill="#fff"></path>
                        </g>
                        <defs>
                            <linearGradient
                                id="b"
                                x1="65.832"
                                y1="195.856"
                                x2="130.759"
                                y2="103.293"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#fff"></stop>
                                <stop
                                    offset="1"
                                    stop-color="#333"
                                    stop-opacity=".1"></stop>
                            </linearGradient>
                            <linearGradient
                                id="c"
                                x1="97.393"
                                y1="18.21"
                                x2="4.19"
                                y2="124.375"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#1B1B3A"></stop>
                                <stop offset=".965" stop-color="#ACACD5"></stop>
                            </linearGradient>
                            <linearGradient
                                id="d"
                                x1="84.892"
                                y1="80.662"
                                x2="83.114"
                                y2="191.174"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#E8E8E8"></stop>
                                <stop offset="1" stop-color="#8282C1"></stop>
                            </linearGradient>
                            <linearGradient
                                id="e"
                                x1="84.924"
                                y1="23.923"
                                x2="84.924"
                                y2="67.391"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#8383C5"></stop>
                                <stop offset="1" stop-color="#151F6D"></stop>
                            </linearGradient>
                            <clipPath id="a">
                                <path fill="#fff" d="M0 0h169.82v189.246H0z"
                                ></path>
                            </clipPath>
                        </defs>
                    </svg>
                </div>

                <h3 class="feature-title yellow">/real-time-monitoring</h3>
                <div class="feature-accent"></div>
                <p class="feature-description">
                    Maintain uninterrupted service visibility across any network
                    environment.
                </p>
            </div>

            <div class="feature-card">
                <div class="feature-image">
                    <svg
                        width="170"
                        height="190"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        ><g clip-path="url(#a)"
                            ><path
                                fillRule="evenodd"
                                clip-rule="evenodd"
                                d="M92.025 93.072c-3.919-2.263-9.854-2.508-13.245-.55L2.332 136.659c-3.39 1.958-2.966 5.384.953 7.647l74.542 43.037c3.92 2.263 9.855 2.508 13.245.551l76.449-44.138c3.39-1.958 2.965-5.384-.954-7.647L92.025 93.072z"
                                fill="url(#b)"
                                fill-opacity=".15"></path><path
                                fillRule="evenodd"
                                clip-rule="evenodd"
                                d="M87.727 35.58c.356.117.723.256 1.097.416v.221L166.046 80.8v24.401L88.824 60.618v.019s-2.134.512-5.154.673c-1.984.105-2.875-.539-4.24-.168L.002 107V83.039l78.782-45.486v-.063s1.363-1.467 3.755-2.104c.306-.082.628-.15.969-.198v-2.044l4.218 2.437z"
                                fill="#ACACD5"></path><path
                                fillRule="evenodd"
                                clip-rule="evenodd"
                                d="M92.024 61.933c-3.919-2.263-9.854-2.508-13.245-.55L2.331 105.52c-3.39 1.958-2.966 5.385.953 7.647l74.542 43.037c3.92 2.263 9.855 2.508 13.245.551l76.449-44.138c3.39-1.958 2.965-5.384-.954-7.647L92.024 61.933z"
                                fill="url(#c)"></path><path
                                fillRule="evenodd"
                                clip-rule="evenodd"
                                d="M84.284 130.253.003 80.673v27.545a5.285 5.285 0 0 0 2.639 4.574c11.03 6.37 53.18 32.309 75.533 43.61.592.299 1.123.535 1.677.733.771.277 1.523.483 2.317.637 1.303.25 2.646.359 4.136.273a12.975 12.975 0 0 0 2.77-.461c1.025-.284 1.677-.595 2.433-1.033 14.332-8.275 66.202-38.22 76.514-44.175a3.582 3.582 0 0 0 1.789-3.103V80.988c0-.468-85.527 49.265-85.527 49.265z"
                                fill="url(#d)"></path><path
                                fillRule="evenodd"
                                clip-rule="evenodd"
                                d="M92.032 34.14c-3.919-2.26-9.855-2.508-13.246-.547L2.339 77.727c-3.395 1.962-2.968 5.386.95 7.651l74.542 43.037c3.92 2.261 9.855 2.508 13.25.55l76.443-44.137c3.395-1.958 2.969-5.386-.95-7.647L92.032 34.14zm-2.874 2.268c-2.254-1.302-5.667-1.44-7.617-.314L6.67 79.318c-1.954 1.127-1.707 3.1.546 4.402l73.49 42.427c2.253 1.302 5.667 1.445 7.617.318l74.875-43.228c1.95-1.127 1.703-3.1-.551-4.398l-73.49-42.43z"
                                fill="#E8E8E8"></path><path
                                fillRule="evenodd"
                                clip-rule="evenodd"
                                d="M1.026 48.667.91 48.08l-.876.651v2.201c-.026 1.52 1.074 3.13 3.242 4.383l74.541 43.037c3.92 2.261 9.856 2.508 13.25.547l76.444-44.134c1.55-.895 2.306-2.096 2.291-3.354v-2.235l-.603.319c-.531-.854-1.414-1.673-2.638-2.38L92.019 4.076c-3.92-2.26-9.856-2.508-13.247-.546L2.325 47.664c-.524.303-.958.64-1.299 1.003z"
                                fill="#2E2E63"></path><path
                                fillRule="evenodd"
                                clip-rule="evenodd"
                                d="M92.016 1.875c-3.919-2.262-9.854-2.508-13.245-.55L2.323 45.463c-3.391 1.957-2.966 5.384.953 7.646l74.542 43.038c3.92 2.262 9.855 2.507 13.245.55l76.449-44.138c3.39-1.957 2.966-5.384-.953-7.647L92.016 1.875z"
                                fill="#ACACD5"></path><path
                                fillRule="evenodd"
                                clip-rule="evenodd"
                                d="M9.275 100.954c0-.542-.329-1.171-.736-1.406l-4.069-2.35c-.407-.235-.736.015-.736.556 0 .542.33 1.172.736 1.407l4.069 2.349c.407.235.736-.014.736-.556zM9.275 103.746c0-.542-.329-1.171-.736-1.406L4.47 99.99c-.407-.235-.736.015-.736.557s.33 1.171.736 1.406l4.069 2.349c.407.235.736-.014.736-.556zM15.824 104.734c0-.542-.33-1.171-.736-1.406l-4.069-2.349c-.407-.235-.736.014-.736.556s.329 1.171.736 1.406l4.069 2.349c.407.235.736-.014.736-.556zM15.824 107.526c0-.542-.33-1.171-.736-1.406l-4.069-2.35c-.407-.235-.736.015-.736.557s.329 1.171.736 1.406l4.069 2.349c.407.235.736-.014.736-.556zM69.261 136.482c0-.551-.337-1.191-.746-1.427l-44.633-25.769c-.413-.238-.746.015-.746.565 0 .55.333 1.188.746 1.426l44.633 25.77c.41.236.746-.015.746-.565zM155.318 100.516c0-.696-.422-1.018-.947-.715-.522.301-.946 1.112-.946 1.808v6.962c0 .7.424 1.02.946.719.525-.304.947-1.112.947-1.812v-6.962zM158.684 98.572c0-.696-.422-1.018-.947-.715-.522.302-.946 1.112-.946 1.808v6.962c0 .7.424 1.02.946.719.525-.303.947-1.112.947-1.812v-6.962zM162.058 96.625c0-.697-.422-1.019-.947-.715-.522.301-.946 1.111-.946 1.808v6.962c0 .7.424 1.02.946.718.525-.303.947-1.111.947-1.811v-6.962zM165.423 94.681c0-.696-.421-1.018-.946-.715-.522.302-.947 1.112-.947 1.808v6.962c0 .7.425 1.02.947.719.525-.303.946-1.112.946-1.812v-6.962z"
                                fill="#8282C1"></path><path
                                fillRule="evenodd"
                                clip-rule="evenodd"
                                d="M87.749 32.368c-1.56-.9-3.923-.998-5.273-.22L52.04 49.722c-1.35.78-1.181 2.144.379 3.045L82.096 69.9c1.56.9 3.923.998 5.273.219l30.436-17.572c1.35-.78 1.181-2.144-.379-3.045L87.749 32.368z"
                                fill="#1B1B3A"
                                fill-opacity=".5"></path><path
                                fillRule="evenodd"
                                clip-rule="evenodd"
                                d="m53.795 43.093-.043-.218-.325.242v7.918c-.01.563.399 1.16 1.203 1.626l27.658 15.968c1.454.839 3.656.93 4.916.203l28.363-16.375c.575-.332.855-.778.85-1.245v-7.928l-.224.118c-.197-.317-.525-.622-.979-.883L87.557 26.55c-1.454-.84-3.657-.932-4.915-.204L54.277 42.721a2.096 2.096 0 0 0-.482.373z"
                                fill="url(#e)"></path><path
                                fillRule="evenodd"
                                clip-rule="evenodd"
                                d="M87.543 25.686c-1.454-.84-3.656-.93-4.914-.204L54.264 41.86c-1.258.726-1.1 1.997.354 2.837l27.658 15.968c1.454.84 3.656.93 4.914.204l28.365-16.376c1.258-.727 1.1-1.998-.354-2.837L87.544 25.685z"
                                fill="#5E75F2"></path><path
                                d="M82.95 40.945c-1.469.848-1.469 2.243 0 3.09 1.467.848 3.883.848 5.352 0 1.468-.847 1.468-2.242 0-3.09-1.469-.847-3.885-.847-5.353 0zm4.281 2.473c-.88.508-2.33.508-3.211 0-.881-.51-.881-1.346 0-1.855.88-.508 2.33-.508 3.211 0 .881.51.881 1.346 0 1.855z"
                                fill="#fff"></path><path
                                d="M83.232 37.89a.97.97 0 0 0-.318.109c-.294.17-.294.448 0 .618.196.114.486.156.752.11 2.395-.414 5-.034 6.768.987 1.768 1.02 2.426 2.525 1.71 3.908-.08.153-.006.32.19.434.294.17.777.17 1.07 0a.473.473 0 0 0 .19-.184c.876-1.69.071-3.528-2.09-4.776-2.16-1.247-5.344-1.712-8.272-1.207zM87.578 46.258c-2.395.413-5 .033-6.768-.987-1.768-1.021-2.426-2.525-1.71-3.908.08-.154.006-.32-.19-.434-.294-.17-.777-.17-1.07 0a.474.474 0 0 0-.19.184c-.876 1.69-.071 3.528 2.09 4.776 2.16 1.247 5.344 1.712 8.272 1.206a.97.97 0 0 0 .318-.11c.294-.169.294-.448 0-.617-.196-.114-.486-.156-.752-.11z"
                                fill="#fff"></path><path
                                d="M83.308 35.176a1.027 1.027 0 0 0-.4.121c-.294.17-.294.45 0 .62.176.102.428.147.673.121 3.664-.385 7.43.294 10.063 1.814 2.633 1.52 3.809 3.695 3.142 5.81-.048.144.031.293.211.397.299.172.789.172 1.087 0a.444.444 0 0 0 .211-.23c.767-2.402-.565-4.873-3.556-6.6-2.99-1.727-7.27-2.495-11.43-2.053zM77.596 47.126c-2.635-1.52-3.811-3.696-3.142-5.813.046-.142-.033-.289-.21-.391-.296-.17-.783-.17-1.078 0a.439.439 0 0 0-.21.23c-.767 2.402.565 4.873 3.555 6.6 2.992 1.727 7.271 2.496 11.431 2.053.152-.016.292-.058.4-.12.295-.17.295-.45 0-.62a1.155 1.155 0 0 0-.673-.122c-3.667.387-7.44-.294-10.073-1.817z"
                                fill="#fff"></path><path
                                d="M83.356 32.528a1.048 1.048 0 0 0-.437.124c-.294.17-.294.45 0 .62.167.096.402.142.636.124 4.894-.37 9.817.595 13.308 2.61 3.49 2.015 5.163 4.858 4.521 7.684-.015.126.065.249.22.338.293.17.776.17 1.07 0a.438.438 0 0 0 .208-.227c.703-3.094-1.129-6.208-4.951-8.414-3.822-2.207-9.215-3.265-14.575-2.86zM74.385 48.98c-3.508-2.01-5.183-4.86-4.518-7.688.047-.142-.03-.289-.208-.392-.293-.169-.777-.169-1.07 0-.13.075-.209.175-.22.28-.705 3.096 1.126 6.211 4.95 8.419 3.824 2.208 9.22 3.265 14.58 2.858.166-.013.32-.056.438-.124.295-.17.295-.45 0-.62a1.142 1.142 0 0 0-.635-.124c-4.898.384-9.835-.583-13.317-2.608z"
                                fill="#fff"></path></g
                        ><defs
                            ><linearGradient
                                id="b"
                                x1="65.823"
                                y1="195.86"
                                x2="130.75"
                                y2="103.298"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#fff"></stop><stop
                                    offset="1"
                                    stop-color="#333"
                                    stop-opacity=".1"></stop></linearGradient
                            ><linearGradient
                                id="c"
                                x1="97.383"
                                y1="18.214"
                                x2="4.18"
                                y2="124.379"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#1B1B3A"></stop><stop
                                    offset=".965"
                                    stop-color="#ACACD5"></stop></linearGradient
                            ><linearGradient
                                id="d"
                                x1="84.916"
                                y1="80.661"
                                x2="83.138"
                                y2="191.173"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#E8E8E8"></stop><stop
                                    offset="1"
                                    stop-color="#8282C1"></stop></linearGradient
                            ><linearGradient
                                id="e"
                                x1="84.922"
                                y1="25.855"
                                x2="84.922"
                                y2="69.323"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><clipPath id="a"
                                ><path fill="#fff" d="M0 0h169.82v189.246H0z"
                                ></path></clipPath
                            ></defs
                        ></svg
                    >
                </div>
                <h3 class="feature-title orange">/snmp-integration</h3>
                <div class="feature-accent"></div>
                <p class="feature-description">
                    SNMP monitoring. Detailed metrics. Maximum network insight.
                </p>
            </div>

            <div class="feature-card">
                <div class="feature-image">
                    <svg
                        width="170"
                        height="190"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        ><g
                            clip-path="url(#a)"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            ><path
                                d="M92.034 93.068c-3.919-2.263-9.854-2.508-13.244-.55L2.34 136.654c-3.39 1.958-2.966 5.384.953 7.647l74.543 43.037c3.919 2.263 9.854 2.508 13.244.55l76.449-44.137c3.39-1.958 2.966-5.385-.953-7.647L92.034 93.068z"
                                fill="url(#b)"
                                fill-opacity=".15"></path><path
                                d="M87.703 35.581c.355.117.722.255 1.097.416v.22l77.221 44.584v24.401L88.8 60.618v.02s-2.134.512-5.155.673c-1.983.105-2.874-.539-4.24-.168L-.021 107.002V83.039L78.76 37.554v-.064s1.362-1.467 3.754-2.103c.307-.082.629-.15.97-.199v-2.043l4.218 2.436z"
                                fill="#ACACD5"></path><path
                                d="M92.034 61.929c-3.919-2.263-9.854-2.508-13.244-.55L2.34 105.516c-3.39 1.958-2.966 5.384.953 7.647L77.837 156.2c3.919 2.263 9.854 2.508 13.244.55l76.449-44.137c3.39-1.958 2.966-5.384-.953-7.647L92.034 61.929z"
                                fill="url(#c)"></path><path
                                d="M84.26 130.254-.022 80.674v27.544a5.284 5.284 0 0 0 2.638 4.574c11.03 6.371 53.18 32.31 75.534 43.61.591.3 1.123.535 1.677.734a15.35 15.35 0 0 0 2.317.636 16.48 16.48 0 0 0 4.136.273 12.99 12.99 0 0 0 2.77-.46 9.481 9.481 0 0 0 2.432-1.033c14.332-8.276 66.202-38.22 76.514-44.175a3.583 3.583 0 0 0 1.79-3.103V80.988c0-.468-85.528 49.266-85.528 49.266z"
                                fill="url(#d)"></path><path
                                d="M92.006 34.14c-3.919-2.26-9.855-2.508-13.246-.546L2.313 77.728c-3.395 1.961-2.968 5.386.95 7.65l74.542 43.038c3.92 2.26 9.856 2.507 13.25.55L167.5 84.828c3.395-1.957 2.968-5.386-.951-7.647l-74.542-43.04zm-2.874 2.269c-2.254-1.303-5.667-1.441-7.617-.315L6.644 79.318c-1.954 1.127-1.707 3.1.546 4.402l73.49 42.427c2.253 1.303 5.667 1.445 7.617.318l74.875-43.228c1.95-1.126 1.703-3.099-.551-4.398l-73.49-42.43z"
                                fill="#E8E8E8"></path><path
                                d="m1.038 48.668-.116-.588-.876.652v2.2c-.026 1.52 1.074 3.13 3.241 4.384L77.83 98.353c3.92 2.26 9.856 2.507 13.25.546l76.444-44.134c1.55-.894 2.306-2.096 2.291-3.353v-2.235l-.603.318c-.531-.853-1.415-1.673-2.639-2.38L92.03 4.078c-3.919-2.261-9.855-2.508-13.246-.547L2.337 47.665c-.524.303-.959.64-1.3 1.003z"
                                fill="#2E2E63"></path><path
                                d="M92.028 1.876c-3.92-2.263-9.854-2.508-13.245-.55L2.334 45.463c-3.39 1.958-2.966 5.384.953 7.647L77.83 96.147c3.919 2.263 9.854 2.508 13.245.55l76.448-44.137c3.391-1.958 2.966-5.384-.953-7.647L92.028 1.876z"
                                fill="#ACACD5"></path><path
                                d="M9.288 100.954c0-.542-.33-1.171-.737-1.406l-4.069-2.35c-.407-.234-.736.015-.736.557s.33 1.171.736 1.406l4.07 2.349c.406.235.736-.014.736-.556zM9.288 103.746c0-.542-.33-1.171-.737-1.406l-4.069-2.35c-.407-.234-.736.015-.736.557s.33 1.171.736 1.406l4.07 2.349c.406.236.736-.014.736-.556zM15.836 104.735c0-.542-.329-1.171-.736-1.406l-4.069-2.35c-.407-.235-.736.015-.736.557s.33 1.171.736 1.406l4.069 2.349c.407.235.736-.014.736-.556zM15.836 107.526c0-.542-.329-1.171-.736-1.406l-4.069-2.349c-.407-.235-.736.014-.736.556s.33 1.171.736 1.406l4.069 2.349c.407.236.736-.014.736-.556zM69.27 136.482c0-.55-.337-1.19-.746-1.426l-44.633-25.77c-.413-.238-.746.015-.746.565 0 .551.333 1.188.746 1.427l44.633 25.769c.41.236.746-.015.746-.565zM155.329 100.512c0-.697-.422-1.018-.947-.715-.522.301-.946 1.111-.946 1.808v6.962c0 .7.424 1.02.946.718.525-.303.947-1.111.947-1.811v-6.962zM158.696 98.568c0-.696-.422-1.018-.947-.715-.522.301-.946 1.112-.946 1.808v6.962c0 .7.424 1.02.946.719.525-.304.947-1.112.947-1.812v-6.962zM162.068 96.62c0-.696-.422-1.018-.947-.714-.522.3-.946 1.111-.946 1.807v6.962c0 .7.424 1.02.946.719.525-.303.947-1.111.947-1.811v-6.962zM165.435 94.677c0-.696-.421-1.018-.947-.715-.521.301-.946 1.112-.946 1.808v6.962c0 .7.425 1.02.946.719.526-.303.947-1.112.947-1.812v-6.962z"
                                fill="#8282C1"></path><path
                                d="M87.75 30.436c-1.56-.9-3.922-.998-5.272-.22L52.042 47.79c-1.35.78-1.181 2.144.379 3.044l29.677 17.135c1.56.9 3.923.998 5.273.219l30.436-17.572c1.35-.78 1.181-2.144-.379-3.045L87.751 30.436z"
                                fill="#1B1B3A"
                                fill-opacity=".5"></path><path
                                d="m53.797 41.161-.043-.218-.325.242v7.917c-.01.564.398 1.162 1.203 1.627l27.657 15.968c1.454.839 3.657.93 4.916.203l28.363-16.375c.575-.332.856-.778.85-1.245v-7.928l-.223.118c-.197-.317-.525-.623-.979-.884L87.558 24.618c-1.454-.84-3.657-.932-4.915-.204L54.28 40.789a2.096 2.096 0 0 0-.482.372z"
                                fill="url(#e)"></path><path
                                d="M87.545 23.754c-1.454-.84-3.656-.93-4.914-.204L54.266 39.927c-1.258.726-1.1 1.997.353 2.837l27.658 15.968c1.454.84 3.656.93 4.914.204l28.365-16.376c1.258-.727 1.101-1.998-.353-2.838L87.545 23.754z"
                                fill="#5E75F2"></path><path
                                d="M94.067 34.355c1.068 2.179 2.777 3.905 5.198 5.632.356.288.356.699-.142.987l-7.263 4.193c-5.982 3.453-11.536 2.056-18.514 1.233-.499-.04-.926-.287-.997-.575-1.424-4.029-3.845-7.236 2.136-10.69l7.263-4.192c.499-.288 1.21-.288 1.71-.083 2.99 1.398 5.98 2.385 9.755 3.002.498.04.783.205.854.493z"
                                fill="#fff"></path></g
                        ><defs
                            ><linearGradient
                                id="b"
                                x1="65.832"
                                y1="195.856"
                                x2="130.759"
                                y2="103.293"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#fff"></stop><stop
                                    offset="1"
                                    stop-color="#333"
                                    stop-opacity=".1"></stop></linearGradient
                            ><linearGradient
                                id="c"
                                x1="97.393"
                                y1="18.21"
                                x2="4.19"
                                y2="124.375"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#1B1B3A"></stop><stop
                                    offset=".965"
                                    stop-color="#ACACD5"></stop></linearGradient
                            ><linearGradient
                                id="d"
                                x1="84.892"
                                y1="80.662"
                                x2="83.114"
                                y2="191.174"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#E8E8E8"></stop><stop
                                    offset="1"
                                    stop-color="#8282C1"></stop></linearGradient
                            ><linearGradient
                                id="e"
                                x1="84.924"
                                y1="23.923"
                                x2="84.924"
                                y2="67.391"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><clipPath id="a"
                                ><path fill="#fff" d="M0 0h169.82v189.246H0z"
                                ></path></clipPath
                            ></defs
                        ></svg
                    >
                </div>
                <h3 class="feature-title purple">/secure-access</h3>
                <div class="feature-accent"></div>
                <p class="feature-description">
                    Trust, compliance: secure features drive valuable business
                    results.
                </p>
            </div>

            <div class="feature-card">
                <div class="feature-image">
                    <svg
                        width="170"
                        height="190"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        ><g
                            clip-path="url(#a)"
                            fillRule="evenodd"
                            clip-rule="evenodd"
                            ><path
                                d="M92.034 93.073c-3.92-2.262-9.855-2.508-13.245-.55L2.34 136.661c-3.39 1.957-2.966 5.384.953 7.647l74.543 43.037c3.919 2.262 9.854 2.508 13.244.55l76.449-44.138c3.39-1.957 2.966-5.384-.953-7.647L92.034 93.073z"
                                fill="url(#b)"
                                fill-opacity=".15"></path><path
                                d="M87.7 35.58c.356.117.722.255 1.097.416v.22L166.018 80.8v24.401L88.797 60.618v.018s-2.134.513-5.154.674c-1.984.105-2.875-.539-4.241-.168L-.024 107V83.038l78.782-45.485v-.063s1.362-1.468 3.754-2.104c.307-.082.629-.15.97-.198v-2.044L87.7 35.58z"
                                fill="#ACACD5"></path><path
                                d="M92.034 61.934c-3.92-2.262-9.855-2.507-13.245-.55L2.34 105.522c-3.39 1.957-2.966 5.384.953 7.647l74.543 43.037c3.919 2.263 9.854 2.508 13.244.55l76.449-44.137c3.39-1.958 2.966-5.385-.953-7.647L92.034 61.934z"
                                fill="url(#c)"></path><path
                                d="m84.256 130.253-84.28-49.58v27.545a5.283 5.283 0 0 0 2.638 4.573c11.031 6.371 53.18 32.31 75.534 43.61.591.3 1.123.536 1.677.734.77.277 1.523.483 2.317.636 1.302.251 2.646.36 4.136.274a13.038 13.038 0 0 0 2.77-.461c1.025-.284 1.676-.595 2.432-1.033 14.332-8.276 66.203-38.22 76.515-44.175a3.584 3.584 0 0 0 1.789-3.103V80.987c0-.468-85.528 49.266-85.528 49.266z"
                                fill="url(#d)"></path><path
                                d="M92.003 34.14c-3.918-2.261-9.855-2.508-13.246-.547L2.31 77.727c-3.395 1.961-2.968 5.386.95 7.65l74.542 43.038c3.92 2.261 9.856 2.508 13.25.55l76.444-44.138c3.395-1.957 2.968-5.386-.951-7.647L92.003 34.14zm-2.874 2.268c-2.254-1.303-5.667-1.441-7.617-.315L6.64 79.319c-1.954 1.126-1.707 3.099.546 4.402l73.49 42.427c2.253 1.302 5.667 1.444 7.617.318l74.875-43.228c1.95-1.127 1.703-3.1-.55-4.398l-73.49-42.431z"
                                fill="#E8E8E8"></path><path
                                d="M1.035 48.667.92 48.08l-.876.65v2.202c-.026 1.52 1.075 3.129 3.242 4.383l74.542 43.037c3.919 2.261 9.855 2.508 13.25.546l76.444-44.133c1.549-.895 2.305-2.096 2.29-3.354v-2.235l-.602.319c-.532-.854-1.415-1.674-2.639-2.381L92.028 4.077c-3.92-2.26-9.856-2.508-13.247-.547L2.334 47.664c-.524.303-.958.64-1.299 1.003z"
                                fill="#2E2E63"></path><path
                                d="M92.024 1.875c-3.92-2.263-9.854-2.508-13.245-.55L2.33 45.462c-3.39 1.958-2.965 5.385.954 7.647l74.542 43.038c3.92 2.262 9.854 2.507 13.245.55l76.449-44.138c3.39-1.957 2.966-5.384-.954-7.647L92.024 1.875z"
                                fill="#ACACD5"></path><path
                                d="M9.285 100.955c0-.542-.33-1.172-.737-1.407L4.48 97.2c-.408-.235-.737.014-.737.556s.33 1.172.737 1.407l4.068 2.349c.407.235.737-.014.737-.556zM9.285 103.747c0-.542-.33-1.172-.737-1.407L4.48 99.991c-.408-.235-.737.014-.737.556s.33 1.172.737 1.407l4.068 2.349c.407.235.737-.014.737-.556zM15.834 104.735c0-.542-.33-1.171-.737-1.406l-4.069-2.349c-.407-.236-.736.014-.736.556s.33 1.171.736 1.406l4.07 2.349c.406.235.736-.014.736-.556zM15.834 107.526c0-.542-.33-1.171-.737-1.406l-4.069-2.349c-.407-.235-.736.014-.736.556s.33 1.171.736 1.406l4.07 2.349c.406.236.736-.014.736-.556zM69.269 136.482c0-.55-.337-1.19-.746-1.426L23.89 109.287c-.413-.239-.746.014-.746.565 0 .55.333 1.188.746 1.426l44.633 25.769c.409.236.746-.015.746-.565zM155.327 100.517c0-.696-.422-1.018-.947-.715-.522.302-.946 1.112-.946 1.808v6.962c0 .7.424 1.02.946.719.525-.303.947-1.112.947-1.812v-6.962zM158.692 98.574c0-.697-.422-1.018-.947-.715-.522.301-.946 1.111-.946 1.808v6.962c0 .7.424 1.02.946.718.525-.303.947-1.111.947-1.811v-6.962zM162.066 96.626c0-.696-.422-1.018-.947-.715-.522.302-.946 1.112-.946 1.808v6.962c0 .7.424 1.02.946.719.525-.303.947-1.112.947-1.812v-6.962zM165.431 94.683c0-.697-.421-1.018-.946-.715-.522.301-.947 1.111-.947 1.808v6.962c0 .7.425 1.02.947.718.525-.303.946-1.111.946-1.811v-6.962z"
                                fill="#8282C1"></path><path
                                d="M87.757 32.368c-1.56-.9-3.924-.998-5.274-.219L52.047 49.721c-1.35.78-1.18 2.144.38 3.045L82.104 69.9c1.56.9 3.923.998 5.273.22l30.436-17.573c1.35-.78 1.181-2.144-.379-3.045L87.757 32.368z"
                                fill="#1B1B3A"
                                fill-opacity=".5"></path><path
                                d="m53.803 43.094-.043-.218-.325.241v7.918c-.01.564.398 1.16 1.202 1.626L82.295 68.63c1.454.84 3.657.93 4.916.203l28.363-16.375c.575-.332.856-.778.85-1.244v-7.929l-.223.118c-.198-.316-.525-.622-.979-.883L87.564 26.55c-1.454-.84-3.657-.932-4.915-.205L54.285 42.722a2.092 2.092 0 0 0-.482.372z"
                                fill="url(#e)"></path><path
                                d="M87.55 25.687c-1.453-.84-3.655-.93-4.913-.205L54.272 41.86c-1.258.726-1.1 1.998.353 2.837l27.658 15.968c1.454.84 3.656.93 4.914.205l28.365-16.377c1.258-.726 1.101-1.998-.353-2.837L87.551 25.687z"
                                fill="#5E75F2"></path><path
                                d="M92.962 52.484c2.61-1.426 2.17-3.701-.306-5.13a6.154 6.154 0 0 0-.492-.255c3.097-2.453 2.931-5.782-.637-7.842-3.58-2.068-9.37-2.158-13.625-.354a4.945 4.945 0 0 0-.637-.436c-2.363-1.364-6.778-1.407-8.766-.223-.206.123-.182.253-.023.345L92.46 52.437c.148.085.634-.052.502.047z"
                                fill="#fff"></path><path
                                d="M93.28 52.308c.17-.121.196-.278.053-.36L69.348 38.098c-.163-.094-.474-.066-.698.063l-.679.393-.163.103-.268.187-.207.151c-1.05.868-1.155 1.9-.159 2.476L87.34 53.115c1.092.63 3.053.548 4.682-.136.35-.16.687-.337 1.015-.526l.242-.145z"
                                fill="#fff"></path></g
                        ><defs
                            ><linearGradient
                                id="b"
                                x1="65.831"
                                y1="195.861"
                                x2="130.758"
                                y2="103.299"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#fff"></stop><stop
                                    offset="1"
                                    stop-color="#333"
                                    stop-opacity=".1"></stop></linearGradient
                            ><linearGradient
                                id="c"
                                x1="97.392"
                                y1="18.215"
                                x2="4.189"
                                y2="124.381"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#1B1B3A"></stop><stop
                                    offset=".965"
                                    stop-color="#ACACD5"></stop></linearGradient
                            ><linearGradient
                                id="d"
                                x1="84.889"
                                y1="80.661"
                                x2="83.111"
                                y2="191.173"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#E8E8E8"></stop><stop
                                    offset="1"
                                    stop-color="#8282C1"></stop></linearGradient
                            ><linearGradient
                                id="e"
                                x1="84.929"
                                y1="25.855"
                                x2="84.929"
                                y2="69.323"
                                gradientUnits="userSpaceOnUse"
                                ><stop stop-color="#8383C5"></stop><stop
                                    offset="1"
                                    stop-color="#151F6D"></stop></linearGradient
                            ><clipPath id="a"
                                ><path fill="#fff" d="M0 0h169.82v189.246H0z"
                                ></path></clipPath
                            ></defs
                        ></svg
                    >
                </div>
                <h3 class="feature-title teal">/cloud-integration</h3>
                <div class="feature-accent"></div>
                <p class="feature-description">
                    Always alerted. Cloud resilient. Uninterrupted insights.
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    .features-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
        gap: 1rem;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .feature-card {
        border-radius: 0.5rem;
        border: 1px solid #42428d;
        background: linear-gradient(180deg, #2a2a49 0%, #101827 100%);
        height: 22.24719rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        transition:
            transform 0.3s ease-out,
            box-shadow 0.3s ease-out;
    }

    .feature-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px var(--shadow-color);
    }

    .feature-image {
        width: 100%;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
    }

    .feature-image svg {
        margin-bottom: 0.6rem;
    }

    .placeholder-bg {
        background-color: #aaaaaa;
    }

    .feature-title {
        text-transform: lowercase;
        font-family: var(--font-mono);
        font-weight: 400;
        color: #ffd966;
        font-family: "IBM Plex Sans";
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 1.275rem */
        margin-bottom: 0.6rem;
    }

    .yellow {
        color: #f0e15a;
    }

    .orange {
        color: #e67e22;
    }

    .purple {
        color: #9b59b6;
    }

    .teal {
        color: #1abc9c;
    }

    .feature-accent {
        width: 3rem;
        height: 0.25rem;
        background-color: #2fcc71;
        margin-bottom: 0.4rem;
    }

    .feature-description {
        font-size: 0.95rem;
        color: var(--text-secondary);
        margin-bottom: 0;
    }

    @media (max-width: 1024px) {
        .features-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 640px) {
        .features-grid {
            grid-template-columns: 1fr;
        }
    }

    svg {
        transition: transform 0.2s ease-out;
    }

    svg:hover {
        transform: scale(1.05); /* Zoom in by 5% */
    }
</style>
